﻿
@using TempProject.Helpers;
@using TempProject.Models;
@model TempProject.Models.FormData

@{
    ViewBag.Title = "Index";
    List<FormData> people = (List<FormData>)ViewBag.People;
}

<h2>Index! Teste!</h2>

<form id="personForm" method="post">

    @if (ViewBag.SuccessMessage != null){
        <p class="alert alert-success">@ViewBag.SuccessMessage</p>
    }
    else if (ViewBag.ErrorMessage != null){ 
        <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
    }
    
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(f => f.Id, new { @id="personId"})
    
    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(f => f.Code)
                @Html.TextBoxFor(f => f.Code, new { @class= "form-control"})
                @Html.ValidationMessageFor(f => f.Code)
            </div>
    
            <div class="form-group">
                @Html.LabelFor(f => f.Name)
                @Html.TextBoxFor(f => f.Name, new { @class= "form-control"})
                @Html.ValidationMessageFor(f => f.Name)
            </div>
    
            <div class="form-group">
                @Html.LabelFor(f => f.Gender)
                @Html.DropDownListFor(f => f.Gender, MyHtmlHelper.GetEnumSelectList<GenderTypes>(), "Select Gender", new { @class= "form-control"})
                @Html.ValidationMessageFor(f => f.Gender)
            </div>

        </div>

        <div class="col-md-6">

            @Html.LabelFor(f => f.PersonType)
            <div class="radio">
                @Html.RadioButtonFor(f => f.PersonType, PersonTypes.Customer, new {@checked=true })
                @Html.Label(PersonTypes.Customer.ToString())
            </div>
            <div class="radio">
                @Html.RadioButtonFor(f => f.PersonType, PersonTypes.Employee)
                @Html.Label(PersonTypes.Employee.ToString())
            </div>
            @Html.ValidationMessageFor(f => f.PersonType)
            
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" style="margin:15px 0;">
            <button type="button" class="btn btn-default" onclick="ResetForm()">New/Cancel</button>
            <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            <button type="button" class="btn btn-danger" onclick="Delete()">Delete</button>
        </div>
    </div>

</form>

@if (people != null && people.Count > 0)
{
    <table style="margin-top:20px" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Type</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FormData person in people)
            {
                <tr onclick="FillForm('@person.ToJSON()', '@person.Gender', '@person.PersonType')">
                    <td>@person.Id</td>
                    <td>@person.Code</td>
                    <td>@person.Name</td>
                    <td>@person.Gender</td>
                    <td>@person.PersonType</td>
                    <td><span class="glyphicon glyphicon-pencil text-primary"></span></td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    
    <script type="text/javascript">

        var validator = $("#personForm").validate({
            rules: {
                Code: {
                    required: true,
                },
                Name: {
                    required: true,
                },
                Gender: {
                    required: true
                }
            }
        });

        function ResetForm(){
            $('#personId').val("");
            $('#personForm').find("input[type=text], select").val("");
        }

        function Save() {
            var id = parseInt($('#personId').val());
            if (id > 0) {
                return Update();
            }
            Create();
        }

        function Update() {
            $('#personForm').attr('action', '@Url.Action("Update")').submit();
        }

        function Create() {
            $('#personForm').attr('action', '@Url.Action("Create")').submit();
        }

        function Delete() {
            $('#personForm').attr('action', '@Url.Action("Delete")').submit();
        }
 
        function FillForm(person, gender, personType) {

            var personObj = JSON.parse(person);
            
            $('#personId').val(personObj.Id);
            $('#Code').val(personObj.Code);
            $('#Name').val(personObj.Name);
            $('#Gender').val(gender);
            $('input[name="PersonType"][value="' + personType + '"]').prop('checked', true);
        }

    </script>
}